body{
    background: #0e0b16;
    font: normal 18pt garamond;
}
header{
    color: white;
    text-align: center;

}
section{
    background: #a239ca;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(3, 3, 53);
    text-align: center;
    
    

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
